<br><br><br>
<div id="reply">
  <%= form_for [@subforum, @topic, @reply] do |f| %>
    <%= f.label :body, "Body: " %>
    <%= f.text_area :body, id: "reply_body" %>
    <button class="small button" name="commit" type="submit">Submit</button>
  <% end %>
</div>