<div id="reply">
  <%= form_for [@topic, @reply] do |f| %>
    <%= f.label :body, "Body: " %>
    <%= f.text_area :body, id: "reply_body" %>
    <ul class="button-group">
      <li>
        <button class="small button" name="commit" type="submit">Submit</button>
      </li>
    </ul>
  <% end %>
</div>