<%= link_to "Add a topic", new_subforum_topic_path(@subforum) %>

<% if @subforum %>
  <% @subforum.topics.all.each do |topic| %>
  <div id="topic_<%= topic.id %>">
    <p><%= link_to topic.title, subforum_topic_path(@subforum, topic) %></p>
  </div>
  <% end %>
<% else %>
  </h1>There are currently no topics</h1>
<% end %>