<%= image_tag("witch-king.jpg", id: "background") %>

<br><br><br>
<div class="titleLayer">
</div>
<h1 class="title">
  Subforums
</h1>

<div class="subforumsIndex">
  <% if @subforums %>
    <% @subforums.each do |subforum| %>
    <div class="panel panel-info" id="subforum_topic">
      <div class="panel-title">
        <%= link_to subforum.title, subforum_topics_path(subforum) %>
      </div>
      <div class="panel-footer" id="topic_description">
        <%= subforum.description %>
      </div>
    </div>
    <% end %>
  <% else %>
    </h1>There are currently no subforums</h1>
  <% end %>

  <button id="subforumButton" type="button small" class="btn btn-secondary" data-toggle="modal" data-target="#subforumModal">Add a new Subforum</button>

  <div id="subforumModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a New Subforum</h4>
        </div>
        <div class="modal-body">
          <%= render "subforums/new" %>
        </div>
      </div>
    </div>
  </div>
</div>