<%= link_to "Add a new subforum", new_subforum_path %>

<% if @subforums %>
  <% @subforums.each do |subforum| %>
  <div class="panel panel-info" id="subforum_<%= subforum.id %>">
    <div class="panel-title">
      <%= link_to subforum.title, subforum_topics_path(subforum) %>
    </div>
    <div class="panel-footer">
      <%= subforum.description %>
    </div>
  </div>

  <% end %>
<% else %>
  </h1>There are currently no subforums</h1>
<% end %>